.nav-link {
  font-weight: 500;
  font-size: 0.95rem;
}

.navbar-brand {
  letter-spacing: 1px;
}

.input-group input {
  max-width: 200px;
}
.nav-link.active {
  font-weight: 600;
  color: #171716 !important;
  border-bottom: 2px solid #0a0a09;
  background-color: transparent;
}

